:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-opensans: 'Open Sans', sans-serif;
    --font-sourcecodepro: 'Source Code Pro', monospace;

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }
}

main {
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-size: xx-large;
    color: #d2d2d2;
   /* background-color: #1e1e1e;*/
    font-family: var(--font-opensans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--font-sourcecodepro);
}

h1 {
    font-size: xx-large;
}

article {
    padding-top: 20px;
}

article header {
    font-size: x-large;
    font-weight: 800;
    /* Heavier than <strong> (typically 700) */
    letter-spacing: 0.02em;
}

.footertext {
    font-size: small;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer {
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: x-large;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.logoInnerContainer {
    display: flex;
    margin: 0 auto;
    width: max-content;
    /* shrink-wrap so auto margins center the element */
    justify-content: center;
    /* optional: center the inner flex children */
}

.logoQuoteStyle {
    color: #FFFFFF;
}

.logoBraceStyle {
    color: #808080;
}

.logoVariableStyle {
    color: #9cdbfc;
}

.logoValueStyle {
    color: #ce9178;
}

@media (max-width: 625px) {
    .container {
        font-size: large;
    }

    header {
        font-size: medium;
    }

    main {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }

    article header {
        font-size: large;
        font-weight: 800;
        letter-spacing: 0.02em;
    }

    article {
        font-size: medium;
    }

    .logoContainer {
        text-align: left;
        font-family: 'Source Code Pro', monospace;
        font-size: medium;
        width: 100%;
        
    }

    .logoInnerContainer {
        text-align: left;
        padding-left: 5px;
        padding-bottom: 0px;
        margin-left: 5px;
        margin-right: none;
        display: block;
    }

    .logoBraceContainer {
        width: 100%;
    }

    .logoVariableContainer {
        padding-left: 2ch;
    }

    .logoValueContainer {
        padding-left: 4ch;
    }

    .logoQuoteStyle {
        color: #FFFFFF;
    }

    .logoBraceStyle {
        color: #808080;
    }

    .logoVariableStyle {
        color: #9cdbfc;
    }

    .logoValueStyle {
        color: #ce9178;
    }
}